.batman {
  width: 120px;
  height: 140px;
  background-color: #ec407a;
  
  background-image:
    radial-gradient(circle, yellow 50%, transparent 50%),
    radial-gradient(circle, yellow 50%, transparent 50%),
    linear-gradient(43deg, black 47%, transparent 50%),
    linear-gradient(140deg, transparent 50%, black 52%),
    linear-gradient(#fff3e0, #fff3e0),
    radial-gradient(circle, black 50%, transparent 50%),
    linear-gradient(#fff3e0, #fff3e0),
    linear-gradient(black, black);
  
  background-size:
    10px 10px,
    10px 10px,
    27px 20px,
    27px 20px,
    18px 7px,
    20px 10px,
    40px 18px,
    60px 54px;
  
  background-position:
    40px 67px,
    70px 67px,
    30px 38px,
    63px 38px,
    50px 83px,
    50px 84px,
    40px 83px,
    30px 49px;
  background-repeat: no-repeat;
}
