.btn {
  display: block;
  padding: 15px;
  border-radius: 2px;
  // box-shadow: $shadow1;
  &.default {
    background-color: $charlestongreen;
    color: white;
  }
  &.linkedin {
    background-color: $linkedin;
    color: $whitesmoke;
  }
  &.email {
    background-color: #57467B;
    color: $whitesmoke;
  }
}

.btn-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}