.modal {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 99;
  background-color: rgba(0%, 0%, 0%, 0.85);
  display: flex;
  justify-content: center;
  & > * {
    align-self: center;
  }
  &.fading {
    animation: fading 2000ms forwards;
  }
}

.message {
  color: $whitesmoke;
  font-size: 1.3em;
  & i {
    font-size: 3em;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    margin-bottom: 20px;
  }
}

@keyframes fading {
  100% {
    opacity: 0;
  }
}