nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  padding-right: 10px;
  width: 100%;
  background-color: $darkgunmetal;
  color: $whitesmoke;
  z-index: 999;
  transition: all 500ms;
  & a {
    padding: 15px 10px;
    color: inherit;
    &.active {
      border-bottom: solid 2px $whitesmoke;
    }
  }
  & .batman {
    height: 48px;
    width: 48px;
  }
  &.about {
    background-color: $whitesmoke;
    color: $darkgunmetal;
    & .active {
      border-color: $darkgunmetal;
    }
  }
  &.projects {
    background-color: $pink;
    color: $darkgunmetal;
    & .active {
      border-color: $darkgunmetal;
    }
  }
  &.contact {
    background-color: $lightblue;
    color: $darkgunmetal;
    & .active {
      border-color: $darkgunmetal;
    }
  }
}
