nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  padding-right: 10px;
  width: 100%;
  background-color: #1B2432;
  color: $whitesmoke;
  z-index: 99;
  & a {
    padding: 15px 10px;
    color: inherit;
    &.active {
      border-bottom: solid 2px $whitesmoke;
    }
  }
  & .batman {
    height: 48px;
    width: 48px;
  }
}
