@import '_reset.scss';

// fonts
@import url('https://fonts.googleapis.com/css?family=Spectral+SC|Open+Sans:400');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  font-size: 15px;
}

body {
  background-color: #F4F4F6;
  &.modal-active {
    overflow: hidden;
  }
}
// globals
a { text-decoration: none; color: inherit; }
main {
  margin: 47px auto 0 auto;
  // min-height: calc(100vh - 112px);
}
h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 {
  font-size: 2em;
  line-height: 1.5em;
  font-family: 'Spectral SC', cursive;
}
h4 {
  font-size: 1.2em;
  line-height: 1.3em;
}
h5 { font-size: .9em; }

@import '_colors.scss';
@import '_shadows.scss';
@import '_buttons.scss';
@import '_modal.scss';
@import '_animations.scss';

// pages
@import '_nav.scss';
@import '_footer.scss';
@import './pages/_home.scss';
@import './pages/_projects.scss';
@import './pages/_contact.scss';
@import './pages/_about.scss';
@import '_transition.scss';

@import '_logo.scss';
@import '_batman.scss';
