.me-container {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('/public/assets/bg2.jpg') 0 / cover fixed;
    filter: blur(15px);
  }
}
.me {
  max-width: 830px;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  height: 70vh;
  text-align: center;
  padding: 20px 15px 30px 15px;
  position: relative;
  & h3, & h4 {
    // font-family: 'Zilla Slab Highlight', cursive;
    // color: black;
    color: $whitesmoke;
  }
  & > * {
    align-self: center;
  }
  & img {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    box-shadow: $shadow1;
  }
  &:after {
    content: '';
    height: 2px;
    background-color: $charlestongreen;
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 20%;
  }
  & h3 {
    margin-bottom: .8em;
    font-size: 1.5em;
  }
  & h4 {
    font-size: 1.3em;
  }

  @media screen and (max-height: 850px) {
    height: calc(100vh - 48px);
  }
}

.home-projects-container {
  padding: 70px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  & > * {
    max-width: 830px;
    margin: 0 auto;
  }
  & .see-more {
    margin-top: 20px;
    text-align: center;
    box-shadow: $shadow1;
  }
}