.me {
  background-color: $darkgunmetal;
  color: $whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 110px);
  text-align: center;
  & h1 {
    font-size: 5em;
  }
  & > * {
    margin-bottom: 20px;
    font-family: 'Spectral SC', serif;
  }
  & .batman {
    position: relative;
    &:after {
      position: absolute;
      top: -5px;
      left: -5px;
      content: '';
      border: solid 5px #EA437B;
      height: 100%;
      width: 100%;
      animation: pulse 2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1.1) scaleY(1.1);
  }
  100% {
    opacity: 0;
  }
}
