.me-container {
  position: relative;
  background-color: $darkgunmetal;
  color: $whitesmoke;
}
.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  text-align: center;
  & h1 {
    font-size: 5em;
  }
  & > * {
    margin-bottom: 20px;
    font-family: 'Spectral SC', serif;
  }
  @media screen and (max-height: 850px) {
    height: calc(100vh);
  }
}

.home-projects-container {
  & .see-more {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: $shadow1;
  }
}