.projects-container {
  display: grid;  
  grid-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  & .project-card {
    background-color: $whitesmoke;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
  }
}

.my-projects {
  max-width: 830px;
  margin: 0 auto;
  padding: 30px 15px;
  & .page-title {
    border-bottom: solid 1px $charlestongreen;
    margin-bottom: 30px;
  } 
}